{% extends 'admin/baseBack.html.twig' %}

{% block title %}
	{{'list.users'|trans}}
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/jquery.dataTables.min.css')}}" href="" type="text/css"/>
	<link rel="stylesheet" href="{{asset('css/responsive.bootstrap4.min.css')}}" href="" type="text/css"/>
{% endblock %}


{% block content %}
	<div class="col-xl-12">
		<div class="card">
			<div class="card-header">
				<div class="row align-items-center">
					<div class="col-12">
						<h3 class="mb-0">
							{{'list.users'|trans}}
						</h3>
					</div>

				</div>
			</div>
			<div class="card-body">


				<div class="pl-lg-4">
					<div class="table-responsive data-table-div" data-length-menu="{{'length.menu'|trans}}" data-zero-records="{{'zero.records'|trans}}" data-info="{{'info'|trans}}" data-info-empty="{{'info.empty'|trans}}" data-info-filtered="{{'info.filtered'|trans}}" data-search="{{'search'|trans}}">
						<table id="list-users" class="liste-item table table-striped table-bordered dt-responsive nowrap" style="width:100%">
							<thead>
								<tr class="thead-light">

									<th class="name-user-th">{{'user.fullname'|trans}}</th>
									<th class="mail-user-th">{{'user.email'|trans}}</th>
									<th class="role-user-th">{{'user.role'|trans}}</th>
									<th class="active-user-th">{{'user.isActivate'|trans}}</th>
									<th class="datc-user-th">{{'user.date.creation'|trans}}</th>


								</tr>
							</thead>
							<tbody>
								{% for user in listOfUsers %}


									<tr class="row-user" id="{{user.slug}}">
										<td>{{user.firstName ~" "~ user.firstName}}</td>
										<td>{{user.email}}</td>
										<td>

											<select class="form-control form-control-sm select-role">
												{% for keyRole in roles|keys %}
													<option value="{{keyRole}}" {{ keyRole == user.roles[0] ? 'selected' : '' }}>{{keyRole}}</option>

												{% endfor %}


											</select>

										</td>
										<td class="text-center">
											<a href="#" class="activate-user">
												<i class="ni ni-check-bold  {{ user.isActivate ? 'actif-user' : 'inactif-article' }}"></i>
											</a>

										</td>
										<td>{{user.createdAt |date('Y-m-d')}}</td>


									</tr>
								{% endfor %}

							</tbody>

						</table>

					</div>
				</div>
			</div>
		</div>


	{% endblock %}

	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/dataTables.responsive.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/responsive.bootstrap4.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/sicad.js') }}"></script>


	{% endblock %}
