  {% extends "admin/baseBack.html.twig" %}

{% block title %}{{'reset.passe'|trans}}{% endblock %}

{% block content %}


<div class="container pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary border-0 mb-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h3>
             {{'reset.passe'|trans}}
              </h3>
            </div>

            {{ form_start(resetForm) }}

              <div class="col-lg-12">
                     <div class="form-group mb-3"> 
                    
                     {{ form_label(resetForm.plainPassword.first, 'new.passe'|trans, {'label_attr': {'class': 'form-control-label'}}) }}
                    <div class="input-group input-group-merge input-group-alternative">        
                                       
                        {{ form_widget(resetForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}  
                    </div>    
                  </div> 
              </div>
               <div class="col-lg-12">
                   <div class="form-group mb-3">
                    
                    {{ form_label(resetForm.plainPassword.second, 'Confirme.new.passe' |trans, {'label_attr': {'class': 'form-control-label'}}) }}
                    <div class="input-group input-group-merge input-group-alternative">        
                                          
                        {{ form_widget(resetForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}  
                    </div>    
                  </div> 
              </div>
        
                <div class="text-center">     
                    {{ form_widget(resetForm.updatePass ,{'label': 'reset.passe'|trans } ,{'attr': {'class': 'btn btn-primary my-4'}}) }}  
                  </div>  

            {{ form_end(resetForm) }}
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}
