{% extends 'admin/baseBack.html.twig' %}

{% block title %}
	{{'home.sicad.title'|trans}}
{% endblock %}
{% block stylesheets %}{% endblock %}


{% block content %}


	<div
		class="col-12 d-flex justify-content-start card-home">

		<!-- Card list article not valid -->
		<div class="col-sm-12 col-lg-4 col-xl-4 col-md-6">
			<div
				class="card card-stats">
				<!-- Card body -->
				<div class="card-body">
					<div class="row">
						<div class="col p-1">
							<h5 class="card-title text-uppercase text-muted mb-0">{{'list.article.notvalid'|trans}}</h5>
							<span class="h2 font-weight-bold mb-0">{{nbrArticleNotValid}}</span>
						</div>
						<div class="col-auto p-0">
							<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
								<i class="ni ni-check-bold"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12 col-lg-4 col-xl-4 col-md-6">
			<div
				class="card card-stats">
				<!-- Card body -->
				<div class="card-body">
					<div class="row">
						<div class="col p-1">
							<h5 class="card-title text-uppercase text-muted mb-0">{{'list.article.notpublished'|trans}}</h5>
							<span class="h2 font-weight-bold mb-0">{{nbrArticleNotPublished}}</span>
						</div>
						<div class="col-auto p-0">
							<div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
								<i class="ni ni-world-2"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>


{% endblock %}

{% block javascripts %}{% endblock %}
