<!-- Sidenav -->
{# <p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first element</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div> #}











<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
	<div
		class="scrollbar-inner">
		<!-- Brand -->
		<div class="sidenav-header  align-items-center">
			<a class="navbar-brand" href="javascript:void(0)">
				<img src="{{asset('img/brand/blue.png')}}" class="navbar-brand-img" alt="...">
			</a>
		</div>
		<div
			class="navbar-inner">
			<!-- Collapse -->
			<div
				class="collapse navbar-collapse" id="sidenav-collapse-main">
				<!-- Nav items -->
				<ul class="navbar-nav">

                    <!-- category config  -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse"  href="#categoryConfig" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
							<i class="ni ni-settings-gear-65"></i>
							<span class="nav-link-text">{{'menu.category'|trans}}</span>
						</a>


						<ul class="sub-category pt-2 pb-2 collapse multi-collapse" id="categoryConfig">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('add_category') }}">
									<i class="fas fa-plus-circle"></i>
									<span class="nav-link-text">{{'add.menu.categ'|trans}}</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('list_category') }}">
									<i class="fas fa-list"></i>
									<span class="nav-link-text">{{'list.categ'|trans}}</span>
								</a>
							</li>
						</ul>
					</li>

                    <!-- article config  -->
                    <li class="nav-item">
						<a class="nav-link" data-toggle="collapse"  href="#articlConfig" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
							<i class="ni ni-settings"></i>
							<span class="nav-link-text">{{'menu.article'|trans}}</span>
						</a>


						<ul class="sub-category pt-2 pb-2 collapse multi-collapse" id="articlConfig">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('add_article') }}">
									<i class="fas fa-plus-circle"></i>
									<span class="nav-link-text">{{'add.menu.article'|trans}}</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('list_article') }}">
									<i class="fas fa-list"></i>
									<span class="nav-link-text">{{'list.article'|trans}}</span>
								</a>
							</li>
						</ul>
					</li>


<div class="border-top my-3"></div>

					{% for category in allCategorys %}
						{% if category.parent |length == 0 %}
							<li class="nav-item">
								<a class="nav-link" data-toggle="{{category.children|length > 0 ? 'collapse' : '' }}" href='{{category.children|length > 0 ? "#" ~ category.name : "#" }}' role="button" aria-expanded="false" aria-controls="{{ category.name }}">
									<i class="fas fa-list"></i>

									{% if locale =='fr' %}

										<span>{{category.labelFr }}</span>

									{% elseif locale  =='en' %}

										<span>{{category.labelEn }}</span>

									{% else %}
										<span>{{category.labelAr }}</span>

									{% endif %}
								</a>
							{% endif %}
							{% if category.children|length > 0 %}
								<ul class="sub-category pt-2 pb-2 collapse multi-collapse" id="{{category.name}}">
									{% for sub_category in category.children %}
										<li class="nav-item">

											<a class="nav-link" href='#'>
												<i class="ni ni-fat-delete"></i>

												{% if locale =='fr' %}

													<span>{{sub_category.labelFr }}</span>

												{% elseif locale  =='en' %}

													<span>{{sub_category.labelEn }}</span>

												{% else %}
													<span>{{sub_category.labelAr }}</span>

												{% endif %}


											</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
					{% endfor %}


					<li class="nav-item">
						<a class="nav-link" href="examples/icons.html">
							<i class="ni ni-planet text-orange"></i>
							<span class="nav-link-text">Icons</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="examples/map.html">
							<i class="ni ni-pin-3 text-primary"></i>
							<span class="nav-link-text">Google</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="examples/profile.html">
							<i class="ni ni-single-02 text-yellow"></i>
							<span class="nav-link-text">Profile</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="examples/tables.html">
							<i class="ni ni-bullet-list-67 text-default"></i>
							<span class="nav-link-text">Tables</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="examples/login.html">
							<i class="ni ni-key-25 text-info"></i>
							<span class="nav-link-text">Login</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="examples/register.html">
							<i class="ni ni-circle-08 text-pink"></i>
							<span class="nav-link-text">Register</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="examples/upgrade.html">
							<i class="ni ni-send text-dark"></i>
							<span class="nav-link-text">Upgrade</span>
						</a>
					</li>
				</ul>
				<!-- Divider -->
				<hr
				class="my-3">
				<!-- Heading -->
				<h6 class="navbar-heading p-0 text-muted">
					<span class="docs-normal">Documentation</span>
				</h6>
				<!-- Navigation -->
				<ul class="navbar-nav mb-md-3">
					<li class="nav-item">
						<a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/getting-started/overview.html" target="_blank">
							<i class="ni ni-spaceship"></i>
							<span class="nav-link-text">Getting started</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/foundation/colors.html" target="_blank">
							<i class="ni ni-palette"></i>
							<span class="nav-link-text">Foundation</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/components/alerts.html" target="_blank">
							<i class="ni ni-ui-04"></i>
							<span class="nav-link-text">Components</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard/docs/plugins/charts.html" target="_blank">
							<i class="ni ni-chart-pie-35"></i>
							<span class="nav-link-text">Plugins</span>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</nav>
