<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
	<div
		class="scrollbar-inner">
		<!-- Brand -->
		<div class="sidenav-header  align-items-center mb-3">
			<a class="navbar-brand btn btn-neutral">
				SICAD
			</a>
		</div>
		<div
			class="navbar-inner">
			<!-- Collapse -->
			<div
				class="collapse navbar-collapse" id="sidenav-collapse-main">
				<!-- Nav items -->
				<ul
					class="navbar-nav">
					<!--category config -->
					<li class="nav-item">
						<a class="nav-link" href="{{ path('list_users') }}">
							<i class="ni ni-circle-08"></i>
							<span class="nav-link-text">{{'user.menu.management'|trans}}</span>
						</a>
					</li>


					<!-- category config  -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#categoryConfig" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
							<i class="ni ni-settings-gear-65"></i>
							<span class="nav-link-text">{{'menu.category'|trans}}</span>
						</a>


						<ul class="sub-category pt-2 pb-2 collapse multi-collapse" id="categoryConfig">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('add_category') }}">
									<i class="fas fa-plus-circle"></i>
									<span class="nav-link-text">{{'add.menu.categ'|trans}}</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('list_category') }}">
									<i class="fas fa-list"></i>
									<span class="nav-link-text">{{'list.categ'|trans}}</span>
								</a>
							</li>
						</ul>
					</li>

					<!-- article config  -->
					<li class="nav-item">
						<a class="nav-link" data-toggle="collapse" href="#articlConfig" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
							<i class="ni ni-settings"></i>
							<span class="nav-link-text">{{'menu.article'|trans}}</span>
						</a>


						<ul class="sub-category pt-2 pb-2 collapse multi-collapse" id="articlConfig">
							<li class="nav-item">
								<a class="nav-link" href="{{ path('add_article') }}">
									<i class="fas fa-plus-circle"></i>
									<span class="nav-link-text">{{'add.menu.article'|trans}}</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('list_article') }}">
									<i class="fas fa-list"></i>
									<span class="nav-link-text">{{'list.article'|trans}}</span>
								</a>
							</li>
						</ul>
					</li>


					<div class="border-top my-3"></div>


				</ul>

			</div>
		</div>
	</div>
</nav>
