

 {# modal info #}
   
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
        	
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">{{title_modal}}</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
            <p class="modal-message">
            {% if message_modal is defined %}
  
                {{message_modal}} <b><span class="var-message"></span></b>

            {% endif %}	  

            </p> 
              
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary confirme-delete" data-dismiss="modal">{{label_button|trans}}</button>
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">{{'close'|trans}}</button>
            </div>
            
        </div>
    </div>
</div>

 
 {# modal alert #}
  
  <div class="modal fade" id="modal-alert" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
        	
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">{{title_modal}}/h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
            	
                <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 class="heading mt-4">You should read this!</h4>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-white confirme-delete">{{label_button|trans}}</button>
                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">{{'close'|trans}}</button>
            </div>
            
        </div>
    </div>
</div>

 