{% extends 'admin/baseBack.html.twig' %}

{% block content %}
  <!-- Page update profile user -->

  <div class="col-xl-8 order-xl-1">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">
              Update My Password
            </h3>
          </div>
    
        </div>
      </div>
      <div class="card-body">
       {{ form_start(updatePasswordForm, {'attr': {'novalidate': 'novalidate'}}) }}
              {{ form_errors(updatePasswordForm) }}
    
                <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                
                 {{ form_label(updatePasswordForm.oldPassword, 'Your Curret Password', {'label_attr': {'class': 'form-control-label'}}) }}
                 {{ form_widget(updatePasswordForm.oldPassword , {'attr': {'class': 'form-control'}}) }} 
                </div>
              </div>

                  <div class="col-lg-12">
                     <div class="form-group mb-3"> 
                    
                     {{ form_label(updatePasswordForm.plainPassword.first, 'New Password', {'label_attr': {'class': 'form-control-label'}}) }}
                    <div class="input-group input-group-merge input-group-alternative">        
                                       
                        {{ form_widget(updatePasswordForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}  
                    </div>    
                  </div> 
              </div>
               <div class="col-lg-12">
                   <div class="form-group mb-3">
                    
                    {{ form_label(updatePasswordForm.plainPassword.second, 'Confirm New Password', {'label_attr': {'class': 'form-control-label'}}) }}
                    <div class="input-group input-group-merge input-group-alternative">        
                                          
                        {{ form_widget(updatePasswordForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}  
                    </div>    
                  </div> 
              </div>

            </div>
     
          </div>
         <div class="pl-lg-4">
            <div class="row justify-content-center">
               
                         {{ form_widget(updatePasswordForm.updatePass , {'label': 'Update My Password'}, {'attr': {'class': 'btn btn-primary my-4'}}) }}  
                
            </div>
        <div>          

        {{ form_end(updatePasswordForm) }} 
      </div>
    </div>
  </div>
{% endblock %}
